:root {
    --main-bg: rgb(177, 30, 30, 1);
    --secondary-bg: rgb(30, 129, 176);
    --white: rgb(238, 238, 228);
    --text-color: #000000;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1,
h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative; /* Necessário para usar ::after */
}


h2::after {
    content: " ";
    display: block;
    width: 50%; 
    height: 4px; 
    background-color: var(--secondary-bg); 
    margin: 0.5rem auto 0; 
    border-radius: 4px; 
}


h2::after {
    content: "";
    display: inline-block;
    font-size: 1.5rem;
    color: var(--secondary-bg);
    margin-left: 0.5rem; 
}

header {
    background-color: var(--main-bg);
    color: var(--white);
    text-align: center;
    padding: 1.5rem 0;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

.hero {
    position: relative;
}

.data {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
}

.info-box {
    position: absolute;
    background-color: var(--white);
    border: 2px solid var(--secondary-bg);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    color: var(--text-color);
    text-align: left;
}

.data {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    background-color: var(--white);
    border: 2px solid var(--secondary-bg);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    text-align: left;
}

.weather {
    bottom: 20%;
    right: 5%;
    width: 250px;
}

.info-box h2 {
    background-color: var(--secondary-bg);
    color: var(--white);
    padding: 0.5rem;
    margin: -1rem -1rem 1rem;
}

.info-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info-box li {
    margin: 0.5rem 0;
}

footer {
    background-color: var(--main-bg);
    color: var(--white);
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0.5rem 0;
}

footer p:last-child {
    font-size: 0.9rem;
}

.weather-icon {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}
