@media (max-width: 768px) {
    .info-box {
        position: static;
        margin: 1rem;
    }
    .data {
        position: absolute;
        top: 50%;
        left: 5%;
      }
      
      .weather {
        bottom: 20%;
        right: 5%;
        width: 250px;
      }
}